#root {
  display: flex;
  flex-direction: column;

  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

html {
  width: 100vw;
  height: 100vh;
}

button {
  border: 2px solid #d6d3d3;
  border-radius: 10px;
  padding: 3px 10px;
}

body {
  width: 100vw;
  height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
