.checkbox {
  border-radius: 50%;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  width: 20px;
  height: 20px;
}

.checkbox:checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

#test {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  width: 100px;
  height: 100px;
}
