.checkbox {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  appearance: none;
}

.checkbox:checked::before {
  width: 20px;
  height: 20px;
  background: image('./images/checked-gradient.svg');
}

.checkbox::before {
  background-image: image('./images/unchecked-gradient.svg');
}

.image {
  background-image: image('/images/unchecked-gradient.svg');
}
