/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import './reset.css'; */
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* Light Theme */
  --color-bg-light: hsl(0, 0%, 98%);
  --color-container-light: hsl(0, 0%, 100%);
  --color-almost-white: hsl(236, 33%, 92%);
  --color-Light-gray: hsl(233, 11%, 84%);
  --color-Dark-gray-blue: hsl(236, 9%, 61%);
  --color-text-light: hsl(235, 19%, 35%);

  /* Dark Theme */
  --color-bg-dark: hsl(235, 21%, 11%);
  --color-container-dark: hsl(235, 24%, 19%);
  --color-text-dark: hsl(234, 39%, 85%);
  /* --Light Grayish Blue (hover): hsl(236, 33%, 92%);
  --Dark Grayish Blue: hsl(234, 11%, 52%);
  --Very Dark Grayish Blue: hsl(233, 14%, 35%);
  --Very Dark Grayish Blue: hsl(237, 14%, 26%); */

  --color-blue: hsl(220, 98%, 61%);
  --color-gradient: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  --color-peach: hsl(340, 84%, 41%);
}

/* @theme light {
  --background: var(--background-light);
  --container: var(--container-light);
  --text: var(--text-light);
}

@theme dark {
  --background: var(--background-dark);
  --container: var(--container-dark);
  --text: var(--text-dark);
} */
